version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  test:
    parameters:
      ruby:
        type: string
      rails:
        type: string
    docker:
      - image: circleci/ruby:<< parameters.ruby >>-node-browsers
    executor: ruby/default
    environment:
      BUNDLE_GEMFILE: gemfiles/Gemfile.rails-<< parameters.rails >>
    steps:
      - checkout
      - run:
          name: Which bundler?
          command: bundle -v
      - run: bundle install
      - run: bundle exec rspec

workflows:
  all-tests:
    jobs:
      - test:
        name: "rails 4.2 / ruby 2.5"
        ruby: "2.5"
        rails: "4.2.x"
      - test:
        name: "rails 5.2 / ruby 2.6"
        ruby: "2.6"
        rails: "5.2.x"
      - test:
        name: "rails 6.0 / ruby 2.7"
        ruby: "2.7"
        rails: "6.0.x"
      - test:
        name: "rails 6.1 / ruby 3.0"
        ruby: "3.0"
        rails: "6.1.x"